<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830462191596-oh19sj4435f8n6lg8l9850t0fpi4fj9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830462191596-oh19sj4435f8n6lg8l9850t0fpi4fj9c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>830462191596-g7e6gnvo3jrb7scajj1ngqhl8bhuds5j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7aSE3gTxEchOAHZQnnROdkHlXTGF_mcc</string>
	<key>GCM_SENDER_ID</key>
	<string>830462191596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soldout</string>
	<key>PROJECT_ID</key>
	<string>don-t-make-project-please</string>
	<key>STORAGE_BUCKET</key>
	<string>don-t-make-project-please.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830462191596:ios:b3bdfc338e7931942642c9</string>
</dict>
</plist>